.grid_display{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 30px;
    
}

@media screen and (max-width: 768px){
    .grid_display{
        display: grid;
        grid-template-columns: 1fr ;
        grid-gap: 30px;
        
    }
}


