*{
  
  margin: 0;
  padding: 0;
  
}

html{
  box-sizing: border-box;
  
}


.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; 
}

@media (min-width: 576px) {
  .container {
    max-width: 520px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}


.link, link:visited{
  text-decoration: none;
  color: white;
}

.link:hover, .link:active, .link:focus{
  color: #055052;
}